name: fingerprint
description: Flutter plugin with utility methods related to installed apps on device.
version: 0.0.1

publish_to: 'none'

environment:
  sdk: '>=2.12.0 <3.0.0'
  flutter: ">=1.12.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: com.cysecurity.fingerprint
        pluginClass: InstalledAppsPlugin